@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;





#root {
  font-family: "Archivo", sans-serif;
  
}


.header-wrapper {
  background: #101218;
  border-bottom: 1px solid #1f222e;
  left: 0;
  min-height: 4.25rem;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 50;
}

.modal-border-color {
  border-color: rgba(214, 211, 209, var(--tw-border-opacity));
  
 
}

.modal-header-text-color {
  color: rgba(51, 65, 85, var(--tw-text-opacity));
}

.hero-bg {
  background: url("./assets/home-image.jpeg");
}

@media screen and (min-width: 760px) {
  .hero-bg {
    background: url("./assets/home-large.webp");
  }
}

#service {
  background: rgba(224, 227, 235, .32);
}

[data-active="true"]{
  background-color: #101218;
  color: white !important ;
}


.slideUp, [data-modal="true"] {
  animation: slideUp 1.3s  ease forwards ;
}

.slidedown, [data-modal="false"] {
  animation: slideDown 1.3s  ease forwards;
}

.modal-wrapper[data-modal="false"]{
  background: transparent !important;
  /* opacity: 0; */

}

.modal-wrapper[data-modal="true"]{
  
  /* opacity: 0; */

}

@keyframes slideUp {
  0%{
    transform: translateY(400px);
  }
  100% {
    transform: translateY(1px);
  }
}


@keyframes slideDown {
  100% {
    transform: translateY(1000px);
  }
}